.share-buttons .share-button {
  display: inline-block;
  margin: 0 5px; }
  .share-buttons .share-button:focus {
    outline: none; }
  .share-buttons .share-button div {
    display: inline-block; }
